<h3>Notice of payment</h3>

<p>Dear <%= @user.name %></p>

<p>We have received confirmation from paypal that your BnBeezy subscription payment has successfully been processed.</p>
<p>If you have any queries please mail us with your reference number <%= @subscription.paypal_customer_token %> at support@searleconsulting.co.za or go to <%= link_to 'BnBeezy.com', root_url, :target => '_blank' %> and click on contact.</p>
<br>
<p>Thank you for your support</p>
<br>
<p>Regards</p>
<p>BnBeezy.com</p>