<div class="hero-unit">
    <% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      BnbEezy was designed because we realized that the bed and breakfast and guesthouse industry is growing at a rapid pace for both the owners and the guests themselves.
      With this in mind BnbEezy was designed to facilitate a simple to use and affordable online system to not only manager your bed and breakfast or guesthouse but to advertise it and allow electronic interaction with your customers.
    </p>
      <br>
      <p>
      As a bed and breakfast owner our site provides you with the functionality to manage your bookings and those of customers using the client facing portion of our site to book online with an interactive calendar that gives you the big picture all at once.
      Other features allow easy room and guest detail management and photos with which to market yourself on the site.
      </p>
       <br>
      <p>
      For your guests there is an online booking feature, a history of all their bookings with yourself and others as well as comprehensive searching functionality for their needs.
      With this in mind please feel free to tour our site and try it out and enjoy the experience.

    </p>
</div>
