<div class="hero-unit">
    <% provide(:title, 'About BnBeezy') %>
    <h3>About BnBeezy</h3>
    <br>
    <br>
    <p>
      BnBeezy was created due of the need for simple, intuitive and easy to use software for the bed and breakfast and guesthouse sector. The industry is growing at a rapid pace, and owners / managers of these establishments need to be able to run them as efficiently as possible. BnBeezy simplifies the management thereof. It is an online application solution, that allows one to manage bookings from anywhere, and works on mobile devices just as well as it does on a desktop machine. It also allows you to advertise your guesthouse, while facilitating electronic interaction with your customers.    </p>
      <br>
      <p>
      For the bed and breakfast manager, our site provides you with the functionality to manage your bookings and those of customers. For your existing or potential customers, it provides them with option of checking room availability; make a provisional booking online, which you can then approve or decline thereafter. This is all done with the interactive calendar that provides you the big picture all at one glance (including daily, weekly and monthly views). Other features allow easy room and guest detail management, photo uploads of your establishment (for marketing purposes on the portal), and many more.
      </p>
       <br>
      <p>
        For your guests there is the above mentioned online booking feature, a saved history of all their past bookings with yourself (and others) as well as comprehensive searching functionality for their needs. All this is provided to try encourage return visits to your guesthouse.
      </p>
      <p>
      With this in mind please feel free to browse our site and try it out.
      Sign up today and enjoy the experience.
    </p>
</div>
