<div class="hero-unit clearfix">
  <div class="pull-left span3">
    <h2>Welcome to BnBeezy</h2>
    <p>A simple to use to bnb portal to suit your needs whether you are an owner or a guest</p>
    <br>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-84d8d783-c4b3-63aa-165d-7c93ac957388"}); </script>

    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_email_large' displayText='Email'></span><br>
  </div>
  <div class="pull-right">
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <img src="/background/bnb3.gif" alt=""   />
          <div class="carousel-caption">
            <p>Caption text here</p>
          </div>
        </div>
        <% @photos.each do |photo| %>
            <div class="item">
              <img src='<%= photo.image_url %>' alt="" />
              <div class="carousel-caption">
                <p><%= photo.description %></p>
              </div>
            </div>
        <% end %>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img alt="" src="http://placehold.it/370x180">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
      <img alt="" src="http://placehold.it/370x180">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
      </div>
    </div>
  </div>
  <div class="span4" id="searching">
      <h2>Find a bnb now</h2>
      <%= render 'shared/search' %>
  </div>
</div>



