<!DOCTYPE html>

<% provide(:title, 'Home') %>

<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
    </aside>
  </div>
  <div class="center hero-unit">
        <%= link_to "Click here to create your Bnb", bnbs_url, :method => 'post', class: "btn btn-large btn-primary" %>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome</h1>

    <h2>
      This is the 
      <a href="http://searleconsulting/">Searle Consulting</a>
       Ruby on Rails web application test site.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
