<!DOCTYPE html>
<% provide(:title, 'Home') %>
<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %>
    <div class="center hero-unit" style="background: white;">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% @photos.each_with_index do |photo, index| %>
            <% if index==0 %>
               <div class="active item">
                <%=image_tag photo.image_url %>
               </div>
            <% else %>
               <div class="item">
                 <%=image_tag photo.image_url %>
               </div>
            <% end %>
        <% end %>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
   </div>
