<div class='hero-unit'>

<h2>Supported Browsers</h2><br>

PayingMantis.com uses the latest technology,  which some older browsers can have issues with.<br> 
The site <b>fully supports</b> (and has been tested on) the following browsers:<br><br>
<ul>
<li>Safari</li>
<li>Chrome</li>
<li>Firefox</li>
<li>Newer versions of Internet Explorer (Higher than version 8)</li>
</ul>

There are <b>KNOWN issues</b> with the following browser versions:<br><br> 
<ul>
<li>Internet Explorer - version 6</li>
<li>Internet Explorer - version 7</li>
<li>Internet Explorer - version 8</li>
</ul>
If you are getting the red warning message at the top of your application, you are using one of the above 3 versions<br><br>
<hr class="bs-docs-separator">

<h2>How do I get around this?</h2><br>

You have 3 options:<br><br>
1. Upgrade your current version of Internet Explorer to the latest one<br>
2. Install a different browser that supports the latest technologies (see below)<br>
3. Ignore the message, and give the app a try anyway. But be warned, certain information and screens (including the navigation bars) will not be optimally displayed (Not recommended).<br><br>

<hr class="bs-docs-separator">
<h2>Where can I get a different browser from?</h2><br>

Please go to one of the following links in order to download the latest browser of your choice:<br><br>

<a href="http://www.google.com/chrome/"><img alt="chrome" src= <%= image_path("chrome.png") %>> Chrome</a>
<a href="http://www.apple.com/safari/"><img alt="chrome" src= <%= image_path("safari.png") %>>Safari</a>
<a href="http://www.mozilla.org/firefox/"><img alt="chrome" src= <%= image_path("firefox.png") %>> Firefox</a>
<a href="http://www.microsoft.com/ie"><img alt="chrome" src= <%= image_path("explorer.png") %>> Explorer</a>

<hr class="bs-docs-separator">
<b>Note:</b> The above links are 3rd party sites, and have no affiliation to our website. Use them at your own risk.

</div>