<div class="hero-unit clearfix">
  <div class="pull-left span5">
    <h1>Welcome to BnBeezy</h1>
    <p>A one stop resource for web designers and developers</p>
    <p><a class="btn btn-primary btn-large">Explore our articles</a></p>
  </div>
  <div class="pull-right">
    <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <img src="/background/bnb3.gif" alt=""   />
          <div class="carousel-caption">
            <p>Caption text here</p>
          </div>
        </div>
        <% @photos.each do |photo| %>
            <div class="item">
              <img src='<%= photo.image_url %>' alt="" />
              <div class="carousel-caption">
                <p><%= photo.description %></p>
              </div>
            </div>
        <% end %>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
href values must reference the id for this carousel -->
      <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="thumbnail">
      <img alt="" src="http://placehold.it/370x180">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="thumbnail">
      <img alt="" src="http://placehold.it/370x180">
      <div class="caption">
        <h5>Thumbnail label</h5>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
      </div>
    </div>
  </div>
  <div class="span4" id="searchin">
    <h2>pig</h2>
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </div>
</div>



