<% cache @cache_key do %>
<div class ="hero-unit center">
<h3>30-day fully functional Free Trial</h3><br>

<h4>NO credit card required for signup and first month!</h4><br>

<h4>We have a plan to fit any business, and budget!</h4><br>

  <div class="row span9 sections">
   <div class="section1 span2">
		<p><%= simple_format("<h3>Pay Monthly - $12 p/m</h3><h4>First Month Free</h4>Every User starts off free! Only pay if you are happy with our service. And only after month 1!") %></p>
	</div>
	<div class="section2 span2">
		<h3>Bronze - $30 (3 Months)</h3>
		<h4>16% Discount!</h4><p>Get 16% discount by paying for 3 months up front, essentially only paying $10 per month instead of $12! <b>(Our Most Popular Plan)</b></p>
	</div>
	<div class="section3 span2">
		<h3>Silver - $48 (6 Months)</h3>
		<h4>33% Discount!</h4><p>Get 33% discount by paying for 6 months up front, essentially only paying $8 per month instead of $12!</p>
	</div>
	<div class="section4 span2">
		<h3>Gold - $72 (For 1 year)</h3>
		<h4>50% Discount!</h4><p>Get 50% discount by paying for 1 year up front, essentially only paying $6 per month instead of $12!</p>
	</div>
  </div>

     <br>

	  <div><%= image_tag('secure-paypal-logo.png') %></div>

</div>
<% end %>
