<div class="hero-unit">
<h1>30-day fully functional Free Trial</h1><br>
 <br>
 <br>

<h4>NO credit card required for signup and first month!</h4><br>

<h5><%= link_to "Sign up for FREE now", new_user_registration_path %> and only upgrade to a paid subscription plan if and when you need it.<br> All users start out on the FREE plan anyway!<br>And remember: Paying Mantis often pays for itself! One recovered payment from an outstanding invoice can pay for your subscription!</h5><br>
<h5>In fact, you cannot pay now! You only pay if Paying Mantis provides a service to you and your business!
<br>And only AFTER the 30 days fully functional free trial is up. You will be given the opportunity to subscribe at that point, if you so wish.</h5><br><br>

<h3>We have a plan to fit any business, and budget! <%= link_to "Sign up Now!", new_user_registration_path %></h3><br>

   <div class="section1">
		<h3>Pay Monthly - $12 p/m</h3>
		<h4>First Month Free</h4>Every User starts off free! Only pay if you are happy with our service. And only after month 1.
	</div>
	<div class="section2">
		<h3>Bronze - $30 (3 Months)</h3>
		<h4>16% Discount!</h4>Get 16% discount by paying for 3 months up front, essentially only paying $10 per month instead of $12! <b>(Our Most Popular Plan)</b></p1>
	</div>
	<div class="section3">
		<h3>Silver - $48 (6 Months)</h3>
		<h4>33% Discount!</h4>Get 33% discount by paying for 6 months up front, essentially only paying $8 per month instead of $12!</p1>
	</div>
	<div class="section4">
		<h3>Gold - $72 (For 1 year)</h3>
		<h4>50% Discount!</h4>Get 50% discount by paying for 1 year up front, essentially only paying $6 per month instead of $12!</p1>
	</div>

	    <img src= <%= image_path('secure-paypal-logo.png') %>>
</div>