<% cache @cache_key do %>
    <h2>BnB Management - Web App Screenshots</h2>



    <ul class="thumbnails">
      <% 17.times do |number| %>
       <% if number > 0 %>
       <li  class="span3">
        <a href="<%= image_path(number.to_s.concat(".png")) %>"  class="thumbnail" rel="lazybox">
          <%= image_tag (number.to_s.concat(".png") )%>
        </a>
      </li>
     <% end %>
     <% end %>
</ul>
<% end %>
