<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="hero-unit">
  <h1>Terms of Service</h1><br>

  <h4>By using this website, you agree to abide by the following:</h4>
  <h6>(This stuff is important, so please read it carefully)</h6><br>

  Terms and conditions for using the BnbEezy service<br><br>

  Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern BnbEezy's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our service and website.<br><br>

  The term 'BnbEezy' or 'us' or 'we' refers to the owner company of the website. The term 'you' refers to the user or viewer of our website.<br><br>

  The use of this website is subject to the following terms of use:<br><br>

  The content of the pages of this website is for your general information and use only. It is subject to change without notice.
  This website uses cookies to monitor browsing preferences.<br><br>

  Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.<br><br>

  Although we try our best to keep prices as low as possible, we reserve the right to change the pricing if needed, due to third party services costs, that we use. We will never increase the monthly payment amount without asking your express permission for doing so first. If you are on a pay plan, you will stay on that monthly amount unless we let you know via email or a news item on the site, and then you would need to confirm and upgrade as necessary. Please note that this has never happened before, and we hope to never have to increase our prices, but unfortunately we too are at the mercy of our third party providers<br><br>

  This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.<br><br>

  All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
  Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence. In some cases we have used stock images, and believe these to be freely available for use. In that case, if you are the owner of any of the images used on our site(s), and believe this not to be the case, kindly <%= link_to "Contact Us", contact_path %> and we will look into the matter.<br><br>

  From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).<br><br>

  <h4>You agree to use this website and any of the services offered by it, at your own risk:</h4><br>

  Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.<br><br>

  The information contained in this website is for general information purposes only. The information is provided by BnbEezy and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.<br><br>

  In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website or it's related services.<br><br>

  Through this website you are able to link to other websites which are not under the control of BnbEezy. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.<br><br>

  Every effort is made to keep the website up and running smoothly. However, BnbEezy takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.<br><br>

  <b>Privacy Statement</b><br>
  We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. The law has created specific offences for unauthorised actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible. For more information, have a look at the <%= link_to "Full Privacy Statement", privacypolicy_path %><br><br>


  <b>Confidentiality</b><br>
  Your client records are regarded as confidential and therefore will not be divulged to any third party, other than if legally required to do so to the appropriate authorities. <br><br>

  We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.<br><br>


  <b>Disclaimer</b><br>
  Exclusions and Limitations <br>
  The information on this web site is provided on an "as is" basis. To the fullest extent permitted by law, this Company:
  excludes all representations and warranties relating to this website and its contents or which is or may be provided by any affiliates or any other third party, including in relation to any inaccuracies or omissions in this website and/or the Company’s literature; and 
  excludes all liability for damages arising out of or in connection with your use of this website. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer software, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages. <br><br>


  <b>Payment</b><br>
  We currently only use PayPal for our payments for the service. We charge on a monthly basis, depending on the payment plan you are on. Our Terms are payment in full within thirty days. You can pay manually every month, or simply setup a recurring payment on PayPal for your convenience. Should your monthly subscription not be paid on time, The service will stop working, and you will be requested to renew your subscription. In the even of non payment (and you are on a paid plan), you will be unable to add any more invoices and clients. Reminder emails will cease to be sent out.<br><br>

  <b>Cancellation Policy</b><br>
  There is no notice of cancellation required. If you would like to cancel your service, simply go to the Accounts menu (while logged in), select User Profile, and client "Cancel Account". All services will cease to continue, and all your data will be removed from our database. All current subscriptions will stop immediately, and recurring payment cancelled.<br><br>


  <b>Termination of Agreements and Refunds Policy</b><br>
  Both the Client and ourselves have the right to terminate any Services Agreement for any reason, including the ending of services that are already underway. No refunds shall be offered, where a Service is deemed to have begun and is, for all intents and purposes, underway. Please note that once a payment is made, no refunds will be offered, even if that full months service is not utilized. No pro-rata refunds will be given. You agree to lose any money that you have already paid for the use of the service.<br><br>


  <b>Availability</b> <br>
  Although we will do our utmost to provide a "alway up" and accurate service, the Company does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best ability. By using this service you thereby indemnify this Company, its employees, agents and affiliates against any loss or damage, in whatever manner, howsoever caused.<br><br>


  <b>Log Files</b><br>
  We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information. Additionally, for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically log standard access information including browser type, access times/open mail, URL requested, and referral URL. This information is not shared with third parties and is used only within this Company on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different to that stated above without your explicit permission.<br><br>


  <b>Cookies</b><br>
  Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate partners may also use cookies.<br><br>


  <b>Links to this website</b> <br>
  You may not create a link to any page of this website without our prior written consent. If you do create a link to a page of this website you do so at your own risk and the exclusions and limitations set out above will apply to your use of this website by linking to it.<br><br>


  <b>Links from this website</b> <br>
  We do not monitor or review the content of other party’s websites which are linked to from this website, which might happen from time to time. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our site & to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site yourself, before disclosing any personal information to them. This Company will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.<br><br>


  <b>Copyright Notice</b> <br>
  Copyright and other relevant intellectual property rights exists on all text relating to the Company’s services and the full content of this website.<br><br>

  This Company’s logo is a registered trademark of this Company. The brand names and specific services of this Company featured on this web site are trade marked.<br><br>


  <b>Communication</b><br>
  We have several different e-mail addresses for different queries. These, & other contact information, can be found on our Contact Us link on our website<br><br>

  <b>Force Majeure</b><br>
  Neither party shall be liable to the other for any failure to perform any obligation under any Agreement which is due to an event beyond the control of such party including but not limited to any Act of God, terrorism, war, Political insurgence, insurrection, riot, civil unrest, act of civil or military authority, uprising, earthquake, flood or any other natural or man made eventuality outside of our control, which causes the termination of an agreement or contract entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform the other Party of the same and shall use all reasonable endeavours to comply with the terms and conditions of any Agreement contained herein.<br><br>


  <b>Waiver</b><br>
  Failure of either Party to insist upon strict performance of any provision of this or any Agreement or the failure of either Party to exercise any right or remedy to which it, he or they are entitled hereunder shall not constitute a waiver thereof and shall not cause a diminution of the obligations under this or any Agreement. No waiver of any of the provisions of this or any Agreement shall be effective unless it is expressly stated to be such and signed by both Parties.<br><br>


  <b>Notification of Changes</b><br>
  The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy policy, we will announce that these changes have been made on our home page and on other key pages on our site. If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to our privacy policy will be posted on our web site 30 days prior to these changes taking place. You are therefore advised to re-read this statement on a regular basis. We reserve the right to refuse service to anyone who does not comply with the terms as set out in this agreement.<br><br>

  These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.  <br><br>  

  <h4>We thank you for your support, and hope you enjoy the product.</h4><br><br>

  © Searle Consulting 2012 All Rights Reserved

</div>


