<h1>Listing guests</h1>

<table class="table table-striped" id="guests">
  <tr id='headers'>
    <th>Name</th>
    <th>Surname</th>
    <th>Contact number</th>
  </tr>
  <%= render :partial => 'row', :collection => @guests, :as => :guest %>
</table>

<br/>

<label><%= link_to content_tag('i', '', class: 'icon-plus-sign'), bnb_guests_path(@bnb, @bnb.guests.build), method: :post, remote: true %> Add guest</label>





