<h3>Booking confirmation</h3>

<p>Hi <%= @booking.guest.name %></p>
<p>
  This email is just to let you know that your booking from <%= @booking.event.start_at %> to <%= @booking.event.end_at %>
  has been confirmed by <%= @booking.bnb.name %>.
</p>

<br>
<p>Regards</p>
<p>BnBeezy.com</p>