<br>
<div class="hero-unit" id="map_marker">
 <address>
   <%= bnb.try(:name) %>
   <br>
   <p>
     <% bnb.try(:rating).try(:times) do %>
         <i class="icon-star icon-white"></i>
     <% end %>
   </p>
   Rooms: <%= bnb.try(:rooms).try(:size) %>
   <br>
   Telephone: <%= bnb.try(:telephone_number) %>
 </address>
</div>
