<br>
<div class="hero-unit">
 <address>
   <%= bnb.name %>
   <br>
   <p>
     <% bnb.rating.times do %>
         <i class="icon-star icon-white"></i>
     <% end %>
   </p>
   Rooms: <%= bnb.rooms.size %>
   <br>
   Telephone: <%= bnb.telephone_number %>
 </address>
</div>
