<% if @bnb %>
<div class="container-fluid">
   <div class="row-fluid">
   
  <div class="span12">
          <%=render 'bnbs/showbnb' %>
    </div>
</div>
</div>
<% else %>
    <div class="center hero-unit">
      <p>Welcome, to begin the setup process for your bnb, press the button below and follow the steps.</p>
      <%= link_to "Click here to create your Bnb", bnbs_url, :method => 'post', class: "btn btn-large btn-primary" %>
    </div>
<% end %>