<div class="container-fluid" id="booking_schedule">
    <%= hidden_field_tag 'new_booking_path', new_bnb_booking_path(@bnb) %>

  <div class="row-fluid">
    <div class="span2">
      <div class="well">
        <h4>Legend</h4>
        <span class="label label-important">Provisional</span>
        <span class="label label-info">Booked</span>
        <span class="label label-success">Checked in</span>
      </div>
      <br>
    </div>
    <div class="span9">
      <div id='calendar'></div>
    </div>
  </div>
  <br>
  <div class="help_info">
    <ul>
      <li>
        <%= simple_format("<h5>Make a booking:</h5> Click on the day the booking is begin to create a booking.") %>
      </li>
      <li>
        <%=simple_format("<h5>View and update booking details:</h5> Click on a booking to manage it (Edit, Remove, Change state).") %>
      </li>
    </ul>
  </div>
  <br>
</div>



