<div class="container-fluid" id="booking_schedule">
    <%= hidden_field_tag 'new_booking_path', new_bnb_booking_path(@bnb) %>
  <div class="row-fluid">
    <div class="span2">
      <div class="well">
        <h4>Legend</h4>
        <span class="label label-important">Provisional</span>
        <span class="label label-info">Booked</span>
        <span class="label label-success">Checked in</span>
      </div>
      <br>
    </div>
    <div class="span9">
      <div id='calendar'></div>
    </div>
  </div>
</div>



