<div id="order_state_code_wrapper">
  <%= simple_fields_for Search.new do |searchform| %>
      <% parent_region ||= params[:parent_region] %>
      <% country = Carmen::Country.named(parent_region) %>
      <% if country.nil? %>
          <%=searchform.input :region, :collection => 1..2, prompt: "Select a region" ,label: false, disabled: true %>
      <% elsif country.subregions? %>
          <%= searchform.input :region,prompt: "Select a region", :value_method => :name,:collection => country.subregions, label: false %>
      <% end %>
 <% end %>
</div>