<div class="hero-unit center">
  <h1><%= details[:name] %></h1>

  <div><img alt="" src=<%= image_path("exceptions.jpeg") %>></div>
  <p><%= simple_format(details[:message]) %></p>


  <%= link_to "Back to home", root_path %>
</div>