<h2>Thank you!</h2>

<%= image_tag ("success.png") %>
<h3>Your subscription has been successfully renewed!</h3><br>
You may now continue to use the BnbEezy service by clicking on the menu options above.<br>
Or click here to go to your <%= link_to 'Home',root_path %> page.
<br><br>
<b>Note:</b> You can check your subscription status in your <%= link_to "User Profile", edit_user_registration_path %>.