
<ul class="thumbnails" display="inline-table">
      <li id="<%=photo.id %>" class="span2">
        <div class="thumbnail">
          <%= image_tag photo.image_url(:thumb) if photo.image? %>
          <p><%= photo.description %></p>
          <%= link_to 'Remove', photo_url(photo), method: :delete, :remote => true  %>
        </div>
      </li>
</ul>


