
    <h2>Your images</h2>
    <div>
        <% if @photos.count >= 1 %>
            <%= render @photos %>
        <% else %>
            <p class='center'>There are currently no images for your gallery</p>
        <% end %>
    </div>
      <% if can? :create, Photo %>       
         <%= link_to 'Upload a new photo', new_bnb_photo_path(@bnb)  %>
      <% end %>

