
    <h2>Your images</h2>
    <div>
        <% if @photos.count >= 1 %>
            <%= render @photos %>
        <% else %>
            <p class='center'>There are currently no images for your gallery</p>
        <% end %>
    </div>
      <% if can? :create, Photo %>       
        <%= direct_upload_form_for @uploader do |f| %>
            <p><%= f.file_field :image %></p>
            <p><%= f.submit "Upload Image" %></p>
        <% end %>
      <% end %>

