<h1>Please fill in details for your Bed and Breakfast</h1>

<%= render :layout => 'form' do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :number_of_rooms %>
    </div>
<% end %>