/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require lazybox
 *= require jquery.ui.datepicker
 *= require select2
 *= require_tree .
*/

.content {

  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  /*  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  /*  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

  /* SS Added for more Shadow effect (took out the top two) */
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

}

/* Full Screen BG */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}
 .sort_table{
     th .current {
      padding-right: 12px;
      background-repeat: no-repeat;
      background-position: right center;
     }

     th .asc{
      background-image: url(sortups.png);
     }

     th .desc {
      background-image: url(sortdowns.png);
     }
 }

 #search_table_form{
   input{
     padding:10px;
     width: 20%;
     float: right;
   }
 }

document {
  height: 297mm - 23mm;
  width: 210mm -21mm;

  background-repeat: no-repeat;
  background-position: 200px 280px;
}


.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

/* Pricing blocks added by Shaun */
.sections {
  width: auto;
  height: auto;
  padding-top: 41px;
  text-align: center;
}
.section1 {
  font-size: 11px;
  background-image: url(sec3bg.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: auto;
  height: auto;
  padding: 18px;
  color: #000000;
  margin-left: 40px;
}
.section1 h3, .section4 h3 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.section2 {
  font-size: 11px;
  background-image: url(sec2bg.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: auto;
  height: auto;
  padding: 18px;
  color: #000000;
}
.section2 h3 {
  font-size: 14px;
  color: #1f5aa0;
  padding: 0px;
  margin: 0px;
}
.section3 {
  font-size: 11px;
  background-image: url(sec1bg.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: auto;
  height: auto;
  padding: 18px;
  color: #000000;
}
.section3 h3 {
  font-size: 14px;
  color: #2d680c;
  padding: 0px;
  margin: 0px;
}
.section4 {
  font-size: 11px;
  background-image: url(sec4bg.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  width: auto;
  height: auto;
  padding: 18px;
  color: #000000;
  margin-right: 40px;
}


.ie_warn {
  border: 1px solid;
  padding:15px 20px 15px 55px;
  font: bold 12px verdana;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.ie_warn {
  color: #fff;
  background: #eb4e4e no-repeat 10px center;
}
