body.static_pages {

  /* BnB Carousel */
  #home_carousel {
    width: 600px;
    height: 480px;

    .carousel-inner {
      text-align: center;
    }

    .carousel-inner > .item > img { margin: 0 auto; }



    .carousel .item > img {
      width: auto;
      max-height: 480px;
    }

    .carousel-caption {
      color: white;
      text-align: center;
    }

  }


  .carousel .item {
    background-color: #000;
  }

  .carousel .loading{
    width:46px;
    height:46px;
    position:absolute;
    top:50%;
    left:50%;
    background:#000 image-url('ajax-loader.gif') no-repeat center center;
    margin:-23px 0px 0px -23px;
    z-index:100;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0.7;
  }

  /* BnB Search */
  #searching {
    text-align: center;
    background-color: #55626B;
    input, select, .btn {
      width: 60%;
      padding: 10px;
    }

    h2 {
      position: relative;
      color: #ccc9c9;
      font-size: 2em;
      color: #fff;
      text-shadow: #000 1px 5px 10px;
    }
  }

  /* Pricing page */
  .sections {
    font-size: 11px;
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
    color: black;

    h3 {
      font-size: 14px;
    }

    h4 {
      font-size: 13px;
    }

    .section1 {
      height: 200px;
      background-image: url(sec3bg.jpg);
    }

    .section2 {
      background-image: url(sec2bg.jpg);
    }

    .section3 {
      background-image: url(sec1bg.jpg);
    }

    .section4 {
      background-image: url(sec4bg.jpg);
    }
  }

}
